@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&display=swap');
@import url("https://use.typekit.net/dxh6hfl.css");

@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'core-sans';
  src: url('../public/fonts/CoreSansD35Regular.otf');
}

.triangle::before {
  content: '';
  height: 100%;
  position: absolute;
  top: 0; 
  left: 0em;
  border: 1em solid transparent;
  border-left-color: #ffffff;
}

.ivyPrestoThin {
  font-family: ivypresto-display, serif;
  font-weight: 100;
  font-style: normal;
}

.ivyPrestoThin em {
  font-family: ivypresto-display, serif;
  font-weight: 100;
  font-style: italic;
}

.coreSans {
  font-family: core-sans, serif;
  font-weight: 100%;
  font-style: normal;
}

.slick-dots li button:before {
  color: white;
  font-size: 1.25rem;
}

.slick-dots li.slick-active button:before {
  color:#283F91 !important;
  opacity: 1 !important;
}