@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&display=swap');
@import url("https://use.typekit.net/dxh6hfl.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'core-sans';
  src: url('../public/fonts/CoreSansD35Regular.otf');
}

.triangle::before {
  content: '';
  height: 100%;
  position: absolute;
  top: 0; 
  left: 0em;
  border: 1em solid transparent;
  border-left-color: #ffffff;
}

.ivyPrestoThin {
  font-family: ivypresto-display, serif;
  font-weight: 100;
  font-style: normal;
}

.ivyPrestoThin em {
  font-family: ivypresto-display, serif;
  font-weight: 100;
  font-style: italic;
}

.coreSans {
  font-family: core-sans, serif;
  font-weight: 100%;
  font-style: normal;
}


@keyframes openAccordian {
  from {
    height: 0;
  }
  to {
    height: 'var(--radix-accordion-content-height)';
  }
}

@keyframes closeAccordian {
  from {
    height: 'var(--radix-accordion-content-height)';
  }
  to {
    height: 0;
  }
}

.accordion-content[data-state="open"] {
  animation: openAccordian 300ms cubic-bezier(0.87, 0, 0.13, 1) forwards;
}

.accordion-content[data-state="closed"] {
  animation: closeAccordian 300ms cubic-bezier(0.87, 0, 0.13, 1) forwards;
}