@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&display=swap');
@import url("https://use.typekit.net/dxh6hfl.css");
@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'core-sans';
  src: url('../public/fonts/CoreSansD35Regular.otf');
}

.triangle::before {
  content: '';
  height: 100%;
  position: absolute;
  top: 0; 
  left: 0em;
  border: 1em solid transparent;
  border-left-color: #ffffff;
}

.ivyPrestoThin {
  font-family: ivypresto-display, serif;
  font-weight: 100;
  font-style: normal;
}

.ivyPrestoThin em {
  font-family: ivypresto-display,serif;
  font-weight: 100;
  font-style: italic;
}

.coreSans {
  font-family: core-sans, serif;
  font-weight: 100;
  font-style: normal;
}

.helvetica {
  font-family: Helvetica, serif;
  font-weight: 100%;
  font-style: normal;
}

.slick-dots li.slick-active div {
  background-color:#283F91 !important;
  opacity: 1 !important;
}

#shopCounterButton button:hover {
  color: #EBE5DB;
  background-color: #283F91;
}

.checkoutModal {
  background-color: #283F91 !important;
}

.disabledLink {
  pointer-events: none;
}

.smallPill {
  transform: translate(-240px, 250px);
}

.medPill {
  transform: translate(-30px, 100px);
}

.largePill {
  transform: translate(217px, 0px);
}

/* lineHeight classes for h1-3 elements (for responsiveness later) */
.lineHeight-desktop-123 {
  line-height: 123.3%;
}

.lineHeight-desktop-122 {
  line-height: 122.3%;
}

.lineHeight-desktop-120 {
  line-height: 120.3%;
}

.lineHeight-desktop-113 {
  line-height: 113.3%;
}

.lineHeight-desktop-111 {
  line-height: 111.3%;
}

.lineHeight-desktop-normal {
  line-height: normal;
}
